<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title style="font: size 40px; text-align:center ">Avengers</title>
</head>
<body style="background-color:aquamarine">

    <p title="im sai btw">Hello world! <b>This is me,{{ user }}!</b></p>

    <h1 style="text-align:center;">List of Avenger Heroes</h1>
    <p style="color:rgb(14, 161, 190); font-family:'Courier New', Courier, monospace; font-size:40px" ><b>Symbols of hope</b></p>
    <h2>Unordered List:</h2>
    <hr>
    <ul>
        <li>Thor</li>
        <li>Captain America</li>
        <li>Doctor Strange</li>
    </ul>

    <h2>Ordered List:</h2>
    <hr>
    <ol>
        <li>Thor</li>
        <li>Captain America</li>
        <li>Doctor Strange</li>
    </ol>

    <p>Another paragraph tag to display extra space. HTML does not allow extra spacing by default.</p>

    <h2>Other Avengers:</h2>
    <h3>Iron Man</h3>
    <!--this is comment-->
    <p>
        <a href="https://en.wikipedia.org/wiki/List_of_Marvel_Cinematic_Universe_films" target="_blank">
            <u>List of Marvel Cinematic Universe films</u>
        </a>
    </p>

    <img src="avg.jpg" alt="Avengers" width="200" height="200">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSoPhSC1btjBN2mNpoPUQxdH-Dy4VLAl42v6w&s">

    <h2>HTML Formatting elements</h2>
        <li><b>Bold text</b></li>
        <li><i>italic text</i></li>
        <li><strong>important text</strong></li>
        <li><em>emphaiszed text</em></li>
        <li><del>deleted text</del></li>
        <li><ins>inserted text</ins></li>
        <li>This is:<sub>subscript text</sub></li>
        <li>This is<sup>superscript text</sup></li>
        <li>This is<mark>highlighted</mark></li>
        <div style="font-family:'Times New Roman', Times, serif; color:brown">
        <a href="www.google.com">Google</a>
        <a href="www.facebook.com">Facebook</a>
    </div>
        <a href="www.Amazon.com" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Amazon</a>
        <span>
            <a href="www.google.com">Google</a>
            <a href="www.facebook.com">Facebook</a>
            <a href="www.Amazon.com" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Amazon</a>
        </span>  
        <header>This is a header tag
            <nav>
                <ul>
                    <li>
                        <a href="aboutus.html">About us</a>
                        <a href="contactus.html">contact us</a>
                    </li>
                </ul>

            </nav>
        </header>
        <main> This is a my main tag</main> 
        <footer>This is a footer tag</footer>
    </body>
</html>
